target
.idea
.idea_modules
metastore_db
derby.log
/data
.gradle
adamtwo.iml
build
src/generated
*.csv
scripts/docker-selfcontained/ADAMpro-assembly-0.1.0.jar
scripts/docker-selfcontained/ADAMpro-web-assembly-0.1.0.jar
scripts/docker-selfcontained/adampro.tar.gz
lib/grpc-assembly-0.1-SNAPSHOT.jar
publish.sh
