<?xml version="1.0"?>
<!-- mapred-site.xml -->
<configuration>
    <property>
        <name>mapreduce.framework.name</name>
        <value>yarn</value>
    </property>
    <property>
        <name>mapreduce.map.java.opts</name>
        <value>-Xmx4000m</value> <!-- increase of memory -->
    </property>
    <property>
        <name>mapreduce.reduce.java.opts</name>
        <value>-Xmx4000m</value> <!-- increase of memory -->
    </property>
</configuration>
